name: dropdownproplus
description: "A customizable dropdown overlay package for Flutter. #dropdown #dropdownproplus"
version: 0.1.2
homepage: https://github.com/PravinKunnure/dropdownproplus
repository: https://github.com/PravinKunnure/dropdownproplus

environment:
  sdk: ">=3.10.3 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:


